/* 폰트 */
@font-face {
  font-family: 'Ownglyph_corncorn-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Meongi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  background: url(https://i.pinimg.com/1200x/5a/01/81/5a0181d2333f4cf6f260253dfcb392df.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Ownglyph_corncorn-Rg';
  width: auto;
  height: 100vh;
}
/* 타이틀 */
img{
  height: 30vh;
}

/* 날씨상자 */
.container{
  display: flexbox;
  height: auto;
  background-color: #ffffff62;
  border-radius: 30px;
  padding: 5vh;
}

/* 날씨정보 */
.WeatherBox{
  width: auto;
  height: auto;
  font-size: x-large;
  margin-bottom: 5vh;
  font-family: 'Cafe24Meongi-W-v1.0';
}


/* 버튼 */
.btncon{

}
ButtonToolbar{

}
button{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}