/* 폰트 */
@font-face {
  font-family: 'Cafe24Meongi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  background: url(https://i.pinimg.com/1200x/5a/01/81/5a0181d2333f4cf6f260253dfcb392df.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Cafe24Meongi-W-v1.0';
  width: 40vw;
  height: 100vh;
}
/* 로딩화면 */
.load{  
  
  text-align: center;margin-top: 25vh;

}
h2{
  margin: 2%;
  font-size: xx-large;
}
/* 타이틀 */
img{
  height: 30vh;
}

/* 날씨상자 */
.container{
  display: flexbox;
  height: auto;
  background-color: #ffffffb1;
  border-radius: 30px;
  padding: 4vh;
}

/* 날씨정보 */
.WeatherBox{
  width: auto;
  height: auto;
  font-size: large;
}


/* 버튼 */
.btncon{
  width: 100%; height: auto;
  max-height: 30vh;
  font-family: 'Ownglyph_ParkDaHyun';
  font-size: large;
  display: flexbox;
  flex-direction: column;
}
.otherCity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1vh;
}
.curW{
  width: 100%;
  padding: 1vh;
}

button{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(112, 158, 176, 0.696);
  color: #fff;
  margin: 1vh; 
  flex: 1;  
  max-width: 100%;
  max-height: 100%;
}
button:hover {
  opacity: 0.6;
}
@media (max-width: 767px) {
  #root {
    width: 90vw;
  }
  img{height: 20vh;  }
  h2{font-size: x-large;  }

}